.company {
  padding-top: 94px;
  padding-bottom: 94px;
}

.company__title {
  margin-bottom: 50px;

  @include font(700, 36px, 1.17);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  text-align: center;

  color: var(--title-color);
}

.logo-company-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-company-list__item:not(:last-child) {
  margin-right: 30px;
}

.logo-company-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $primary-color;
  }
}

.logo-company-list__icon {
  width: 170px;
  height: 92px;

  fill: #afb1b8;

  .logo-company-list__link:hover &,
  .logo-company-list__link:focus & {
    fill: $primary-color;
  }
}
