:root {
  --logo-web-color: #2196f3;
  --header-logo-studio-color: #000000;
  --footer-logo-studio-color: #ffffff;
  --nav-color: #212121;
  --nav-hover-color: #2196f3;
  --header-list-address-color: #757575;
  --header-list-address-hover-color: #2196f3;
  --background-color: #2f303a;
  --title-color: #212121;
}
$primary-color: #2196f3;
